@model List<OnlineIndieStore.VMs.EditsUsersInRolesViewModel>;

@{
    AppUser user = new AppUser
    {
        FirstName = ViewBag.FirstName,
        UserName = ViewBag.UserName,
        Email = ViewBag.Email
    };
}

<div>
    <h3>Update User Access</h3>
</div>
<div class="d-flex justify-content-around">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Selected User</h2>
        </div>
        <div>
            <h4 class="card-title">
                @user.FirstName
            </h4>
            <div class="d-flex card-body">
                <p class="mr-2">
                    @user.UserName
                </p>
                <p class="mr-2">
                    @user.Email
                </p>
            </div>
        </div>
    </div>
  
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Assigned User Roles </h2>
        </div>
        <div class="card-body">
            @{ 
                int roleCount = 0;
                foreach (var r in Model)
                {
                    if ((r.IdentityRoles != null) && (r.IsChecked == true))
                    {
                        <h5>@r.IdentityRoles.Name</h5>
                        roleCount++;
                    }
                }
                if (roleCount == 0)
                {
                    <p class="text-danger">No matching roles found with this user</p>
                }
            }
        </div>
    </div>
</div>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h3>Add and Remove Roles For @User</h3>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check">
                    <input type="hidden" asp-for="@Model[i].IdentityRoles.Id" />
                    <input type="hidden" asp-for="@Model[i].IdentityRoles.Name" />
                    <input asp-for="@Model[i].IsChecked" class="form-check-input" />
                    <label>@Model[i].IdentityRoles.Name </label>
                </div>
            }
        </div>

        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a type="submit" class="btn btn-primary" asp-action="Index" asp-controller="RoleManager">Cancel</a>
        </div>
    </div>
</form>
