@model OnlineIndieStore.VMs.DisplayProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="d-flex">
        <div>
            <img src="@Model.Product.ImageUrl" />
        </div>
        <div>
            <h5>@Model.Product.Name</h5>
            <p>@Model.Product.Description</p>
            <p>@Model.Product.Price</p>
        </div>
    </div>
    <div>
        <h4>Categories</h4>
        @foreach(var cat in Model.Categories)
        {
            <p>@cat.CategoryName</p>
        }
    </div>
    <div>
        <h4>Selection</h4>
        <p>@Model.Selection</p>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Product.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
