@model IEnumerable<OnlineIndieStore.VMs.DisplayProductViewModel>


    <div class="row col-md-12">
        @foreach (var prod in Model)
        {
            <div class="container col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="text" src="@prod.Product.ImageUrl" />
                </div>
                <div class="card-body">
                    <h4 class="card-title">@prod.Product.Name</h4>
                    <p class="card-text">
                        @prod.Product.Description
                    </p>
                </div>
                <div class="card-body">
                    <h5>Categories</h5>
                    @foreach (var item in prod.Categories)
                    {
                        <p>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </p>
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-text">Selection:</h5>
                    @*@{
                        string test = "placeholder";

                        foreach (var selectionPossibility in ViewBag.SelOptions)
                        {
                            foreach (var productSelection in prod.ProductCategories)
                            {
                                if (productSelection.Selection.ToString() == selectionPossibility)
                                {
                                    test = @productSelection.Selection.ToString();
                                }
                            }
                        }
                        <p>@test</p>
                    }*@

                    <p class="card-text">Price: @prod.Product.Price </p>
                    <div class="d-flex justify-content-around">
                        <a href="#" class="btn btn-primary">Add to Basket</a>
                        <a href="#" class="btn btn-success">Favourite</a>
                    </div>
                </div>
            </div>
        }
    </div>