@model List<OnlineIndieStore.VMs.DisplayProductViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Index";
}

<div class="m-3 text-center">
    <h2 class="text-center">Shop Indie</h2>
    <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</h6>
</div>

@if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-around m-4">
        <p>
            <a class="btn btn-info " asp-action="Create">Category Admin area</a>
        </p>
        <p>
            <a class="btn btn-secondary" asp-controller="Products" asp-action="Create">Submit Product</a>
        </p>
    </div>
}
else if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("GeneralUser"))
{
    <div class="d-flex justify-content-around p-3">
        <a class="btn btn-secondary" asp-controller="Products" asp-action="Create">Submit Product</a>

    </div>
}

<div class="p-3">
    <ul class="nav nav-pills d-flex justify-content-around p-3 bg-light">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Filter Categories</a>
            <div class="dropdown-menu">
                @foreach (var catOption in @ViewBag.CatOptions)
                {
                    <a class="dropdown-item" asp-action="Index" asp-route-categoryOrder="@catOption">@catOption</a>
                }
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Selection</a>
            <div class="dropdown-menu">
                @foreach (var selOption in @ViewBag.SelOptions)
                {
                    <a class="dropdown-item" asp-action="Index" asp-route-selectionOrder="@selOption">@selOption</a>
                }
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort Products</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Sort By Name Ascending</a>
                <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameDescending">Sort By Name Descending</a>
                <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceAscending">Sort By Price: Lowest to Highest</a>
                <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceDescending">Sort By Price: Highest to Lowest</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

</div>

<div class="container">
    <div class="row justify-content-center">
        @foreach (var prod in Model)
        {
            <div class="col-md-6 col-sm-12 col-xl-4">
                <div class="card mb-4 ml-2 mr-2 border border-info">
                    @*IMAGE*@
                    <div>
                        <img class="rounded card-img-top p-3" src="@("~/image/" + prod.Image.ImageName)" asp-append-version="true" width="300" height="300" />
                    </div>
                    @*CATEGORIES*@
                    <div class="card-body d-flex justify-content-around">
                        @foreach (var item in prod.Categories)
                        {
                            <a asp-action="Index" asp-route-categoryOrder="@item.CategoryName.ToString()" class="badge-pill badge-info">
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </a>
                        }
                    </div>
                    @*PRODUCT CONTENT: TITLE, PRICE & SELECTION*@
                    <div class="card-body mb-1">
                        <h5 class="card-title">@prod.Product.Name</h5>
                        <p class="card-text">@prod.Product.Price </p>
                        <a asp-action="Index" asp-route-selectionOrder="@prod.Selection">
                            <small class="text-muted">@prod.Selection</small>
                        </a>
                    </div>
                    @*ADD TO BASKET*@
                    <div class="card-footer d-flex justify-content-around">
                        <a asp-action="Details" asp-route-productName="@prod.Product.Name" class="btn btn-outline-info ">Details</a>
                        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@prod.Product.ID" class="btn btn-outline-success">Add to Cart</a>
                        <a asp-controller="Favourite" asp-action="AddProductToFavourite" asp-route-id="@prod.Product.ID" class="btn btn-outline-secondary">Favourite</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>