@model IEnumerable<OnlineIndieStore.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*Revisit:
https://mdbootstrap.com/docs/jquery/components/cards/*@
<p>
    <a asp-action="Create">Create New</a>
</p>

<ul class="nav nav-pills d-flex justify-content-around pb-3">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Categories</a>
        <div class="dropdown-menu">
            @foreach (var catOption in @ViewBag.CatOptions)
            {
                <a class="dropdown-item" asp-action="Index" asp-route-categoryOrder="@catOption">@catOption</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Selection</a>
        <div class="dropdown-menu">
            @foreach (var selOption in @ViewBag.SelOptions)
            {
                <a class="dropdown-item" asp-action="Index" asp-route-selectionOrder="@selOption">@selOption</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort Products</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Sort By Name Ascending</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameDescending">Sort By Name Descending</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceAscending">Sort By Price: Lowest to Highest</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceDescending">Sort By Price: Highest to Lowest</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<div class="row col-md-12">
    @foreach (var prod in Model)
    {
        <div class="container col-md-4">
            <div class="card">
                <img class="card-img-top" alt="text" src="@prod.Product.ImageUrl" />
            </div>
            <div class="card-body">
                <h5 class="card-title">@prod.Product.Name</h5>
                <p class="card-text">
                    @prod.Product.Description
                </p>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Categories: @prod.Category.CategoryName
                </li>

            </ul>
            <div class="card-body">
                <p class="card-text">Selection: @prod.Selection</p>
                <p class="card-text">Price: @prod.Product.Price </p>

                <div class="d-flex justify-content-around">
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-success">Favourite</a>
                </div>
            </div>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Selection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductCategoryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductCategoryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductCategoryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
