@model IEnumerable<OnlineIndieStore.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Selection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Selection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductCategoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductCategoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
