@model List<OnlineIndieStore.VMs.DisplayProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*Revisit:
https://mdbootstrap.com/docs/jquery/components/cards/*@
<p>
    <a asp-action="Create">Create New</a>
</p>

<ul class="nav nav-pills d-flex justify-content-around pb-3">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Categories</a>
        <div class="dropdown-menu">
            @foreach (var catOption in @ViewBag.CatOptions)
            {
                <a class="dropdown-item" asp-action="Index" asp-route-categoryOrder="@catOption">@catOption</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Selection</a>
        <div class="dropdown-menu">
            @foreach (var selOption in @ViewBag.SelOptions)
            {
                <a class="dropdown-item" asp-action="Index" asp-route-order="@selOption">@selOption</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort Products</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Sort By Name Ascending</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameDescending">Sort By Name Descending</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceAscending">Sort By Price: Lowest to Highest</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceDescending">Sort By Price: Highest to Lowest</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<div class="row col-md-12">
    @foreach (var prod in Model)
    {
        <div class="container col-md-4">
            <div class="card">
                <img class="card-img-top" alt="text" src="@prod.Product.ImageUrl" />
            </div>
            <div class="card-body">
                <h4 class="card-title">@prod.Product.Name</h4>
                <p class="card-text">
                    @prod.Product.Description
                </p>
            </div>
            <div class="card-body">
                <h5>Categories</h5>
                @foreach (var item in prod.Categories)
                {
                    <p>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </p>
                }
            </div>
            <div class="card-body">
                <h5 class="card-text">Selection:</h5>
                @*@{
                    string test = "placeholder";

                    foreach (var selectionPossibility in ViewBag.SelOptions)
                    {
                        foreach (var productSelection in prod.ProductCategories)
                        {
                            if (productSelection.Selection.ToString() == selectionPossibility)
                            {
                                test = @productSelection.Selection.ToString();
                            }
                        }
                    }
                    <p>@test</p>
                }*@

                        <p class="card-text">Price: @prod.Product.Price </p>
                        <div class="d-flex justify-content-around">
                            <a href="#" class="btn btn-primary">Add to Basket</a>
                            <a href="#" class="btn btn-success">Favourite</a>
                        </div>
                    </div>
        </div>
    }
</div>

