@model List<OnlineIndieStore.VMs.DisplayProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*Revisit:
    https://mdbootstrap.com/docs/jquery/components/cards/*@
<p>
    <a asp-action="Create">Create New</a>
</p>

<ul class="nav nav-pills d-flex justify-content-around pb-3">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Categories</a>
        <div class="dropdown-menu">
            @foreach (var catOption in @ViewBag.CatOptions)
            {
                <a class="dropdown-item" asp-action="Index" asp-route-categoryOrder="@catOption">@catOption</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Selection</a>
        <div class="dropdown-menu">
            @foreach (var selOption in @ViewBag.SelOptions)
            {
                <a class="dropdown-item" asp-action="Index" asp-route-selectionOrder="@selOption">@selOption</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort Products</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Sort By Name Ascending</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameDescending">Sort By Name Descending</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceAscending">Sort By Price: Lowest to Highest</a>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByPriceDescending">Sort By Price: Highest to Lowest</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Index" asp-route-order="ByNameAscending">Reset Filter</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<div class="container">
    <div class="row justify-content-center">
        @foreach (var prod in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 ml-2 mr-2 border border-info">
                    @*IMAGE*@
                    <div>
                        <img class="card-img-top p-3" src="@("~/image/" + prod.Image.ImageName)" asp-append-version="true" width="300" height="300" />
                    </div>
                    @*CATEGORIES*@
                    <div class="card-body d-flex justify-content-around">
                        @foreach (var item in prod.Categories)
                        {
                            <a asp-action="Index" asp-route-categoryOrder="@item.CategoryName.ToString()" class="badge-pill badge-info">
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </a>
                        }
                    </div>
                    @*PRODUCT CONTENT: TITLE, PRICE & SELECTION*@
                    <div class="card-body mb-1">
                        <h5 class="card-title">@prod.Product.Name</h5>
                        <p class="card-text">@prod.Product.Price </p>
                        <a asp-action="Index" asp-route-selectionOrder="@prod.Selection">
                            <small class="text-muted">@prod.Selection</small>
                        </a>
                    </div>
                    @*ADD TO BASKET*@
                    <div class="card-footer d-flex justify-content-around">
                        <a asp-action="Details" asp-route-productName="@prod.Product.Name">Details</a>
                        <a href="#" class="btn btn-success">Favourite</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<div class="modal fade" id="productDetails" tabindex="-1" role="dialog" aria-labelledby="productDetailsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailsTitle"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex">
                <img class="card-img-top p-3" alt="text" src="#" />
                <div>
                    <div>
                        <p>  </p>
                        <p></p>
                        <a asp-action="Index" asp-route-selectionOrder="">
                            <small class="text-muted"></small>
                        </a>
                    </div>
                    <div class="card-body d-flex justify-content-around">
                        @foreach (var item in )
                        {
                            <a asp-action="Index" asp-route-categoryOrder="@item.CategoryName.ToString()" class="badge-pill badge-info">
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>
</div>*@
