
    <div>
        <div class="p-4">
            <h4 class="text-center">Your Cart</h4>
        </div>
        <hr />

        @if (@ViewBag.cart != null)
        {
            //Mobile Responsiv table needs to be built below

            <div class="d-lg-none d-block">
                <div>
                    <div>
                        <h5 class="bg-light p-3">Sub Total</h5>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="pl-3">Cart sub</p>
                        <p class="pr-3">£@ViewBag.total</p>
                    </div>
                </div>

                <div>
                    <h5 class="bg-light p-3">Products</h5>
                </div>
                @foreach (var item in @ViewBag.cart)
                {
                    <div class="d-flex justify-content-between">
                        <div>
                            <img class="rounded" src="@("~/image/" + item.Product.Image.ImageName)" asp-append-version="true" width="50" height="50" />
                        </div>
                        <div>
                            <p>@item.Product.Name</p>
                            <p>£@item.Product.Price</p>
                        </div>
                        <div>
                            @if (item.Quantity > 1)
                            {
                                <div class="d-flex justify-content-between">
                                    <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="minus" class="btn btn-light">-</a>
                                    <span class="p-1"> @item.Quantity </span>
                                    <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="plus" class="btn btn-light">+</a>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-end">
                                    <span class="p-1"> @item.Quantity </span>
                                    <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="plus" class="btn btn-light">+</a>
                                </div>
                            }
                        </div>
                        <div>
                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.ID ">

                                <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                }
            </div>

            //This is the table display for larger screens
            <table class="table table-hover d-none d-lg-block">
                <thead>
                    <tr class="row text-center">
                        <th scope="col" class="bg-light p-3 col-2">Product</th>
                        <th scope="col" class="bg-light p-3 col-2">Name</th>
                        <th scope="col" class="bg-light p-3 col-2">Quantity</th>
                        <th scope="col" class="bg-light p-3 col-2">Unit Price</th>
                        <th scope="col" class="bg-light p-3 col-2">Total</th>
                        <th scope="col" class="bg-light p-3 col-2">Option</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @ViewBag.cart)
                    {
                        <tr class="row text-center">
                            <td class="col-2">
                                @*Image Here*@
                                <img class="rounded" src="@("~/image/" + item.Product.Image.ImageName)" asp-append-version="true" width="150" height="150" />
                            </td>
                            <td class="col-2">
                                @item.Product.Name
                            </td>
                            @if (item.Quantity > 1)
                            {
                                <td class="d-flex justify-content-between col-2">
                                    <div>
                                        <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="minus" class="btn btn-light">-</a>
                                    </div>
                                    <div>
                                        <span class="p-1"> @item.Quantity </span>
                                    </div>
                                    <div>
                                        <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="plus" class="btn btn-light">+</a>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td class="d-flex justify-content-end col-2">
                                    <div>
                                        <span class="p-1"> @item.Quantity </span>
                                    </div>
                                    <div>
                                        <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="plus" class="btn btn-light">+</a>
                                    </div>
                                </td>
                            }
                            <td  class="col-2">
                                @item.Product.Price
                            </td>
                            @if (ViewBag.Total > 0)
                            {
                                <td class="col-2">
                                    @{ var subTotalCalc = (@item.Product.Price * @item.Quantity);}
                                    @subTotalCalc
                                </td>
                            }
                            else
                            {
                                <td>
                                </td>
                            }
                            <td class="col-2">
                                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.ID ">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td align="right" class="col-6">Sum</td>
                    <td>
                        @ViewBag.total
                    </td>
                </tr>
            </table>
        }

        else
        {
            <div>
                <p class="text-center">Your basket is empty.</p>
            </div>
        }
        <br />
        <div class="d-flex justify-content-around">
            <a asp-controller="ProductCategories" asp-action="Index" class="btn-info p-2 text-center">Continue Shopping</a>
        </div>
    </div>