
<div>
    <h3>Your Cart</h3>
            @if (@ViewBag.cart != null)
            {
    <table class="table table-hover">
        <caption>Your Basket</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Photo</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub Total</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in @ViewBag.cart)
                {
            <tr>
                <th scope="row">@item.Product.Name</th>
                <td>@item.Product.ID</td>
                <td>
                    @*Image Here*@
                    <img class="card-img-top p-3" src="@("~/image/" + item.Product.Image.ImageName)" asp-append-version="true" width="100" height="100" />
                </td>
                <td>@item.Product.Price</td>
                @if (item.Quantity > 1)
                {
                    <td class="d-flex justify-content-between">
                        <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="minus" class="btn btn-light">-</a>
                        <span class="p-1"> @item.Quantity </span>
                        <a asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="plus" class="btn btn-light">+</a>
                    </td>
                }
                else
                {
                    <td class="d-flex justify-content-end">
                        <span class="p-1"> @item.Quantity </span>
                        <a asp-controller="Cart"  asp-action="ChangeQuantity" asp-route-id="@item.Product.ID" asp-route-quantityChange="plus" class="btn btn-light">+</a>
                    </td>
                }
                @if (ViewBag.Total > 0)
                {
                    <td>
                        @{ var subTotalCalc = (@item.Product.Price * @item.Quantity);} 
                        @subTotalCalc
                    </td>
                }
                else
                {
                    <td>
                    </td>
                }
                <td><a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.ID ">Remove</a></td>
            </tr>
                }
        </tbody>
            <tr>
                <td align="right" class="col-6">Sum</td>
                <td>
                    @ViewBag.total
                </td>
            </tr>
    </table>
            }

            else
            {

            <h4>Your basket is empty.</h4>
            }
    <br />
    <a asp-controller="ProductCategories" asp-action="Index">Continue Shopping</a>
</div>